<!-- Navbar Start-->
<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
    <h2>
      <i class="fa fa-laptop" style="font-size:36px; padding-right: 15px;padding-left: 50px;"></i>Electroder</h1>
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span
          class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown active">
            <a href='#' onclick="" data-toggle="dropdown" class="dropdown-toggle">Home
              <b class="caret"></b></a>
            <b class="caret"></b>
          </li>
          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="window.location.href = '../user/laptops'" data-toggle="dropdown" class="dropdown-toggle">Laptops
              <b class="caret"></b></a>
            <b class="caret"></b>
            </button>
          </li>
          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="window.location.href = '../user/contact'" data-toggle="dropdown" class="dropdown-toggle">Contact
              <b class="caret"></b></a>
            <b class="caret"></b>
            </button>
          </li>
        </ul>
      </div>
      <div id="search" class="collapse clearfix">
        <form role="search" class="navbar-form">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">

          </div>
        </form>
      </div>
  </div>
  </div>
</header>
<!-- Navbar End-->
<!-- Heading Start-->
<div id="heading-breadcrumbs" class="brder-top-0 border-bottom-0">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Add Laptop</h1>
      </div>
    </div>
  </div>
</div>
<!--Heading End-->
<script>
  $(document).ready(function () {
    var test = '$' + $('#price').val();
    //alert(test);
  });
</script>
<form method="POST" action="/admin/addedlaptop">

  <ol>
    <ul>
      <li>Name: <input type="text" id="name" name="name" placeholder="Product Name" required autofocus></li>
      <li>Brand: <input type="text" id="brand" name="brand" placeholder="Brand" required></li>
      <li>Price: <input type="number" min="0" id="price" name="price" placeholder="Price in $" required></li>
      <li>Screen Size: <input type="number" min="10" max="20" id="size" name="ss" placeholder="Screen size in inches"
          required></li>
      <li>RAM: <input type="number" id="ram" name="ram" placeholder="RAM" required></li>
      <li>Processor:<input type="text" id="processor" name="processor" placeholder="Processor" required></li>
      <li>HDD: <input type="number" min="1" id="hdd" name="hdd" placeholder="TB(s)" required></li>
      <li>Rating: <input type="number" min="1" max="5" id="rating" name="rating" placeholder="rating out of 5" required></li>
      <li>Sold: <input type="radio" id="sold1" name="sold" value="true">
        <label for="sold1">True</label>
        <input type="radio" id="sold2" name="sold" value="false">
        <label for="sold2">False</label>
      </li>
      <li>Image 1 <input type="text" name="image1" placeholder="link to image1" required></li>
      <li>Image 2 <input type="text" name="image2" placeholder="link to image2"></li>
      <li>Image 3 <input type="text" name="image3" placeholder="link to image3"></li>
    </ul>
    <button type="submit">Add Laptop</button>
  </ol>
</form>